body {
  background-color: #e6e6e6;
}

#container {
  color: black;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-family: "Roboto Condensed";
}

#graphic_area {
  margin: 0 auto;
}

#rectangle {

}

#number_list {
  padding-top: 20px;
  font-size: 16px;
  height: 50px;
  font-family: "Raleway";
  text-align: left;
  overflow: auto;
}

button {
  background-color: white;
  border-color: white;
  padding: 5px;
  width: 100px;
  font-family: "Raleway";
  font-size: 18px;
  transition: .3s;
  margin-right: 10px;
  text-decoration: none;
}

button:focus, #startNumber:focus {outline:0;}

button:hover {
  cursor: pointer;
  border-color: black;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    color: black;
    height: 5px;
    background: black;
    border-radius: 3px;
}

#startNumber {
  background-color: blue;
  color: white;
  border: none;
  padding: 2px;
  font-family: "Lato";
}

.waveSelection {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 10px;
}

#controls {
  border-top: 2px solid gray;
  padding-top: 7px;

}

#about {
  display: none;
  font-family: "Raleway";
}
