body {
  background-color: white;
  overflow: hidden;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {

}

.graphline {
  stroke-width: 2px;
  stroke: blue;
  fill: none;
}

.axis {
  stroke-width: 2px;
  font-size: 10px;
}

.label {
  font-family: "Raleway";
}

#stone {
  z-index: 20;
}

#container {
  color: black;
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway";
}

#intro {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  text-align: center;
  padding-top: 20vh;
  font-family: "Raleway";
}

#initialNumber {
  font-size: 60px;
  text-align: center;
  height: 150px;
  font-family: "Raleway";
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

#intro h1{
  font-size: 40px;
}

#intro h2{
  font-size: 30px;
}

#graphic_area {
  margin: 0 auto;
  overflow-y: visible;
  overflow-x: hidden;
}

button {
  background-color: white;
  border-color: white;
  padding: 5px;
  width: 100px;
  font-family: "Raleway";
  font-size: 18px;
  transition: .3s;
  margin-right: 10px;
  text-decoration: none;
}

#toggleGraph {
  width: 190px;
}

.graphline {
  display: none;
}

button:focus, #startNumber:focus {outline:0;}

button:hover {
  cursor: pointer;
  border-color: black;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    color: black;
    height: 5px;
    background: black;
    border-radius: 3px;
}

.waveSelection {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 15px;
}

#controls {
  border-top: 2px solid blue;
  padding-top: 20px;
  font-size: 1.5vw;
}

#about {
  display: none;
  font-size: 1.5vw;
  font-family: "Raleway";
  margin: 50px;
}

#about-descr {
  text-align: left;
}
