body {
  background-color: white;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {

}

#cloud-scroll {
width: 200px;
height: 200px;
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/clouds-full.png);
-webkit-animation: backgroundScroll 20s linear infinite;
animation: backgroundScroll 20s linear infinite;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}

#container {
  color: black;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-family: "Raleway";
}

#graphic_area {
  margin: 0 auto;

}

#svg_area {
  background: url(hail.jpg);
  background-color:rgba(0, 0, 0, 0.5);
  -webkit-animation: backgroundScroll 20s linear infinite;
  animation: backgroundScroll 20s linear infinite;
}

#rectangle {

}

#number_list {
  padding-top: 20px;
  font-size: 16px;
  height: 50px;
  font-family: "Raleway";
  text-align: left;
  overflow: auto;
}

button {
  background-color: white;
  border-color: white;
  padding: 5px;
  width: 100px;
  font-family: "Raleway";
  font-size: 18px;
  transition: .3s;
  margin-right: 10px;
  text-decoration: none;
}

button:focus, #startNumber:focus {outline:0;}

button:hover {
  cursor: pointer;
  border-color: black;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    color: black;
    height: 5px;
    background: black;
    border-radius: 3px;
}

#startNumber {
  background-color: black;
  color: white;
  border: none;
  padding: 2px;
  font-family: "Lato";
}

.waveSelection {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 10px;
}

#controls {
  border-top: 2px solid gray;
  padding-top: 7px;

}

#about {
  display: none;
  font-size: 20px;
  font-family: "Raleway";
  margin: 50px;
}

#about-descr {
  text-align: left;
}
